body{
  background-color: black;
  color: white;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.justify{
  text-align: justify;
}
.bTable{
  width:10%;
}
.unset{
  text-align: unset;
}
#gMain{
  text-align: center;
}
* {
  box-sizing: border-box;
}
.column{
  text-align: center;
  width: 25%;
  padding: 10px;
}
.img-fluid{
  width:100%;
}
.title{
  margin:10px 10px 10px 10px;
  font-size: 25px;
}
.modal-title{
  color:black;
}
.click,#mobile,.navbar-nav .dropdown-menu a{
  color: white;
}
#bking{
  text-align: center;
}
#bRol{
  text-align:left;
}
#nking{
  text-align: center;
}
#nRol{
  text-align:left;
}
.container{
  text-align: center;
}
.form-group{
  margin-left: 10px;
}
.navbar-nav .dropdown-menu, #mas{
  background-color: #383c44;
}
.navbar-nav .dropdown-menu a:hover {
  background-color: white;
  color: black;
}
#voidName, #voidFirstSurname, #voidSecondSurname, #voidGender, #voidRol, #voidMain, #voidNote, 
#invalidateNote, #voidAnime, #invalidateAnime{
  color: red;
  display: none;
}